.container {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  width: 100%;
}

.image-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 80%;
}

.image-scroll img {
  width: 200px;
  margin-right: 10px;
  border-radius: 10px;
}
